@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

body {
    text-align: center;
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    padding: 50px;
}

main {
    margin: auto;
    width: 1200px;
    border: 3px solid black;
}

main > header {
    text-align: center;
}

div {
    padding: 30px;
    background-color: white; 
    text-align: left;
    line-height: 2em;
}

#flor {
    
    background: black url(../imagens/background001.jpg) center no-repeat fixed;
    background-size: cover;
}

#livro {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3em;
}

pre {
    font-family: 'Sriracha', Arial, Helvetica, sans-serif;
    font-weight: 1000;
    line-height: 2em;
    font-size: 1.5em;
    text-align: left;
}

p {
    font-weight: lighter;
    font-size: 2em;
}

div > p {
    font-family: 'Sriracha', Arial, Helvetica, sans-serif;
    font-weight: 1000;
    line-height: 2em;
    font-size: 1.5em;
    text-align: left;
}

article {
    background-color: rgba(0, 0, 0, 0.600);
    color: white;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

footer > p {
    margin: 0px;
    font: normal normal 16px Arial, Helvetica, Sans-serif; 
}

a {
    color: white;
}

a:hover {
    color: red;
}