@charset "UTF-8";

/*Configurações gerais*/
@media all{
    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body {
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
        background-attachment: fixed;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 0px black;
        padding: 10px;
    }
}

/*Configurações Retrato*/
@media screen and (orientation: portrait) {
    body {
        background: url(../imagens/cev-portrait.jpg) no-repeat center bottom;
        background-size: contain;
    }
}


/*Configurações paisagem*/
@media screen and (orientation: landscape) {
    body {
        background: url(../imagens/cev-landscape.jpg) no-repeat left bottom;
        background-size: contain;
    }
}