@charset "UTF-8";

body {
    background-color: gray;
    text-align: center;
}

h1 {
    font-size: 3em;
}

#principal > #imagem {
    text-align: center;
    width: 600px;
    height: 450px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    background-size: cover;
    
}

p {
    font-size: 1.3em;
    font-family: sans-serif;
}

a {
    color: white;
}

a:hover {
    color: red;
}