@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
}

html {
    background-color: rgba(104, 101, 101, 0.342);
}

header {
    background-color: rgba(104, 101, 101, 0.76);
    text-align: center;
}

header h1 {
    color: black;
    text-shadow: 1px 1px 1px white;
    padding: 10px;
}

#burguer {
    display: block;
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

li a {
    display: block;
    background-color: rgb(68, 68, 68);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-top: 2px solid white;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.164);
}

main {
    background-color: white;
    margin: auto;
    width: 90vw;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
}

main p {
    text-align: justify;
    text-indent: 30px;
    margin: 25px 10px;
}

