@charset "UTF-8";

@media screen and (min-width: 768px) {

    main {
        width: 700px;
    }

    #burguer {
        display: none;
    }
    
    menu {
        display: block;
        text-align: left;
    }

    li {
        display: inline-block;
    }

    li a {
        border-top: none;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    header h1 {
        color: red;
    }

    main {
        width: 800px;
    }

}

@media screen and (min-width: 1200px) {

    header h1 {
        color: yellow;
    }

    main {
        width: 1000px;
    }


}